*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}